/node_modules/
/coverage/
/.git/
/.github/
/.vscode/
/.idea/
*.iml
/.husky/

.gitignore

Dockerfile
Dockerfile*
.dockerignore
README.md

/.next/
/.jest/
/coverage/

/storybook-static/
.env.*.local
.env.local
